<% layout('/layout/boilerplate') %>

    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
    </script>



    <div id="clusterMap" class="mb-3 rounded-3"></div>
    <h1> All Historical Sites</h1>
    <% for (let campground of campgrounds ) { %>
        <div class="card mb-3" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) {%>
                        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                        <% } else {%>
                            <img crossorigin="anonymous" class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dqsojznwk/image/upload/v1750037900/YelpCamp/u7xrjdlewkgd3wbfkexz.png">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <h5 class="card-text">
                            <%= campground.description %>
                        </h5>
                        <h5 class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </h5>
                        <a class="btn btn-primary" href="/historicalsites/<%= campground._id %>">
                            View <%= campground.title %>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <% } %>
            <script src="/javascripts/clusterMap.js"></script>